.searchField {
	white-space: nowrap;
}
.column {
	white-space: normal;
	display: inline-block;
	width: 48%;
	vertical-align: top;
	background: #fff2e1;
}
.searchField .column:first-child {
	margin-right: 4%;
}