<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Типы залов</title>
    <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
    <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" class="btn btn-success" methods="">Аккаунт</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" class="btn btn-success" methods="">Аккаунт</a>
</header>
<body>

<form method="post" th:object="${hallType}">
    <p>Введите азвание типа</p>
    <input type="text" th:name="name" th:if="${getHallType == null}" th:field="*{name}">
    <input type="text" th:name="name" th:if="${getHallType != null}" th:value="${getHallType.name}">
    <p>Введите информацию о типе</p>
    <input type="text" th:name="info" th:if="${getHallType == null}" th:field="*{info}">
    <input type="text" th:name="info" th:if="${getHallType != null}" th:value="${getHallType.info}">
    <br>
    <button>Подтвердить</button>
</form>
</body>
</html>