<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
  <link rel="stylesheet" href="/assets/css/search.css">
</head>

<header>
  <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" class="btn btn-success" methods="">Аккаунт</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" class="btn btn-success" methods="">Аккаунт</a>
</header>
<body>
<form method="post" th:object="${staff}">
  <p>Введите имя человека</p>
  <input type="text" name = "firstName" th:if="${getStaff==null}" th:field="*{firstName}">
  <input type="text" name = "firstName"  th:if="${getStaff!=null}" th:value="${getStaff.firstName}">
  <p>Введите фамилию человека</p>
  <input type="text" name = "lastName" th:if="${getStaff==null}" th:field="*{lastName}">
  <input type="text" name = "lastName" th:if="${getStaff!=null}" th:value="${getStaff.lastName}">
  <p>Задайте дату рождения человека</p>
  <input type="date" name = "birth" th:if="${getStaff==null}" th:field="*{birth}">
  <input type="date" name = "birth" th:if="${getStaff!=null}" th:value="${getStaff.birth}">
  <!--<p>Добавьте фото человека</p>
  <input type="file" name="img" th:field="img">-->
  <p>Введите основную информацию о человеке</p>
  <input type="text" class="mainInfo" th:if="${getStaff==null}" name = "mainInfo" th:field="*{mainInfo}">
  <input type="text" class="mainInfo" th:if="${getStaff!=null}" name = "mainInfo" th:value="${getStaff.mainInfo}">
  <p>Введите полную информацию о человеке</p>
  <input type="text" class="allInfo" th:if="${getStaff==null}" name = "allInfo" th:field="*{allInfo}">
  <input type="text" class="allInfo" th:if="${getStaff!=null}" name = "allInfo" th:value="${getStaff.allInfo}">
  <br>
  <button>Подтвердить</button>
</form>
</body>
</html>