<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/addAuthor.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="js/addScreenwriter.js"></script>
</head>
<body>
<form action="#" method="post" th:object="${screenwriter}">
  <p>Введите имя человека</p>
  <input type="text" name = "firstname" th:field="*{firstName}">
  <p>Введите фамилию человека</p>
  <input type="text" name = "lastname" th:field="*{lastName}">
  <p>Задайте дату рождения человека</p>
  <input type="date" name = "birth" th:field="*{birth}">
  <!--<p>Добавьте фото человека</p>
  <input type="file" name="img" th:field="img">-->
  <p>Введите основную информацию о человеке</p>
  <input type="text" class="info" name = "mainInfo" th:field="*{mainInfo}">
  <p>Введите полную информацию о человеке</p>
  <input type="text" class="info" name = "allInfo" th:field="*{allInfo}">
  <button>Подтвердить</button>
</form>
</body>
</html>