<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>админ панель</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<header>
    <a th:href="@{'/account?userId='+${#authentication.principal.id}}" class="btn btn-success" methods="">Аккаунт</a>
    <a th:href="@{'/account?userId='+${#authentication.principal}}" class="btn btn-success" methods="">Аккаунт</a>
    <a  th:if="!${#authentication.isAuthenticated()}" th:href="@{'/account?userId='+${#authentication}}" class="btn btn-success" methods="">Аккаунт</a>
</header>
<body>
<table>
    <thead>
    <th>ID</th>
    <th>UserName</th>
    <th>Password</th>
    <th>Roles</th>
    </thead>
    <div th:each="user : ${allUsers}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <div  th:each="role :${user.roles}" th:text="${role.name}"></div>
            </td>
            <td>
                <a th:href="@{'/admin/del?userId='+${user.id}}" class="btn btn-success" methods="">Удалить пользователя</a>
            </td>
        </tr>
    </div>
</table>
<a href="/film/all">Главная</a>
</body>
</html>