<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>админ панель</title>
    <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
    <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" >Аккаунт</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" >Аккаунт</a>
</header>
<body>

<button sec:authorize="isAuthenticated()" onclick="location.href='/film/all';" >Фильмы</button>
<button sec:authorize="isAuthenticated()" onclick="location.href='/genre/all';"  >Жанры</button>
<button sec:authorize="isAuthenticated()" onclick="location.href='/hall/type/all';" >Типы залов</button>
<button sec:authorize="isAuthenticated()" onclick="location.href='/hall/all';" >Залы</button>
<button sec:authorize="isAuthenticated()" onclick="location.href='/cinema/all';" > Кинотеатры</button>
<button sec:authorize="isAuthenticated()" onclick="location.href='/session/add';">Добавить сеанс</button>
<button sec:authorize="isAuthenticated()" onclick="location.href='/staff/all';"  >Люди участвующие в фильмах</button>
<button sec:authorize="isAuthenticated()" onclick="location.href='/admin/users';" >Пользователи сайта</button>
<button sec:authorize="isAuthenticated()" onclick="location.href='/cinema/profit';" >Выручка</button>


<button onclick="location.href='/search';" >Главная</button>
</body>
</html>