<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все кинотеатры</title>
    <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
    <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" >Аккаунт</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}">Аккаунт</a>
</header>
<body>
    <div class="column" style="padding-bottom: 30px; border-bottom: 2px solid #424242;" th:each="cinema: ${cinemas}">
        <p class="info">Название кинотеатра</p>
      <p th:text = "${cinema.name}"></p>
        <p class="info">Адрес кинотеатра</p>
      <p th:text = "${cinema.location}"></p>
        <p class="info">Информаци о кинотеатре</p>
      <p th:text = "${cinema.info}"></p>
        <p class="info">Залы в кинотеатре</p>
      <div th:each="hall :${cinema.halls}">
        <p th:text="${hall.name}"></p>
      </div>
        <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/cinema/add?id='+${cinema.id}|" >Изменить</button>
        <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/cinema/del?id='+${cinema.id}|" >Удалить</button>
    </div>

    <button style="color: white;" onclick="location.href='/cinema/add';">Добавить кинотеатр</button>
    </body>
</html>