<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все фильмы</title>
  <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
  <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" >Аккаунт</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}">Аккаунт</a>
</header>
<body>
  <div class="column" style="padding-bottom: 30px; border-bottom: 2px solid #424242;" th:each="film : ${films}">
    <p class="info">Название фильма</p>
    <a  th:href="@{'/film/get?id='+${film.id}}" th:text="${film.name}"></a>
    <p class="info">Год выпуска фильма</p>
    <p th:if="${film.year!=null}" th:text="${film.year}"></p>
    <p class="info">Информация о фильме</p>
    <p th:if="${film.info!=null}" th:text="${film.info}"></p>
    <p class="info">Жанр фильма</p>
    <p th:if="${film.genre!=null}" th:text="${film.genre.name}"></p>
    <p class="info">Продолжительность фильма</p>
    <p th:text="${film.duration}"></p>
    <p class="info">Персонал, участвовавший в создании фильма</p>
    <div th:each="staff: ${film.staffs}">
      <p th:text="${staff.firstName}+' '+${staff.lastName}"></p>
    </div>
    <br>
    <button  sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/film/add?id='+${film.id}|" >Изменить</button>
    <button  sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/film/del?id='+${film.id}|">Удалить</button>

  </div>
  <button onclick="location.href='/film/add';">Добавить фильм</button>
</body>
</html>