<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все жанры</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<div th:each="genre : ${genres}">
  <p th:text="${genre.name}"></p>
  <a th:href="@{'/genre/add?id='+${genre.id}}" class="btn btn-success" methods="">Изменить</a>
  <a th:href="@{'/genre/del?id='+${genre.id}}" class="btn btn-success" methods="">Удалить</a>
  <p>*************************</p>
  <br>
  <br>
  <br>
</div>

  <a th:href="@{/genre/add}" class="btn btn-success" methods="">Добавить жанр</a>
</body>
</html>