<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Все жанры</title>
  <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
  <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" >Аккаунт</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}">Аккаунт</a>
</header>
<body>
<div class="column" style="padding-bottom: 30px; border-bottom: 2px solid #424242;" th:each="genre : ${genres}">
  <p th:text="${genre.name}"></p>
  <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/genre/add?id='+${genre.id}|" >Изменить</button>
  <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/genre/del?id='+${genre.id}|" >Удалить</button>
</div>

  <button style="color: white;" onclick="location.href='/genre/add';">Добавить фильм</button>
</body>
</html>