<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все залы</title>
    <link rel="stylesheet" href="/assets/css/search.css">
</head>
<body>

<header>
    <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" class="btn btn-success" methods="">Аккаунт</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" class="btn btn-success" methods="">Аккаунт</a>
</header>
<div  class="column" style="padding-bottom: 30px; border-bottom: 2px solid #424242;" th:each="hall : ${halls}">
    <p class="info">Название зала</p>
    <p th:text="${hall.name}"></p>
    <p class="info">Местов в ряду</p>
    <p th:text="${hall.seatsInRow}"></p>
    <p class="info">Рядов</p>
    <p th:text="${hall.rows}"></p>
    <p class="info">Тип зала</p>
    <p th:if="${hall.hallType!=null}" th:text="${hall.hallType.name}"></p>

    <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/hall/add?id='+${hall.id}|" >Изменить</button>
    <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/hall/del?id='+${hall.id}|" >Удалить</button>
</div>
<button onclick="location.href='/hall/add';">Добавить зал</button>
</body>
</html>