<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все виды залов</title>
    <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
    <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" >Аккаунт</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}">Аккаунт</a>
</header>
<body>
    <div  class="column" style="padding-bottom: 30px; border-bottom: 2px solid #424242;" th:each="hallType: ${hallTypes}">
        <p class="info">Название типа зала</p>
        <p th:text="${hallType.name}"></p>
        <p class="info">Описание зала</p>
        <p th:text="${hallType.info}"></p>
        <button  sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/hall/type/add?id='+${hallType.id}|" >Изменить</button>
        <button  sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/hall/type/del?id='+${hallType.id}|">Удалить</button>
    </div>

    <button onclick="location.href='/hall/type/add';" >Добавить</button>
</body>
</html>