<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<header>
  <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" class="btn btn-success" methods="">Аккаунт</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" class="btn btn-success" methods="">Аккаунт</a>
</header>
<body>
  <div th:each="staff : ${staffs}">
    <p th:text="${staff.firstName}"></p>
    <p th:text="${staff.lastName}"></p>
    <p th:text="${staff.birth}"></p>
    <p th:text="${staff.mainInfo}"></p>
    <p th:text="${staff.allInfo}"></p>
    <a th:href="@{'/staff/add?id='+${staff.id}}" class="btn btn-success" methods="">Изменить</a>
    <a th:href="@{'/staff/del?id='+${staff.id}}" class="btn btn-success" methods="">Удалить</a>
    <p>*************************************</p>
    <br>
    <br>
  </div>

  <a th:href="@{/staff/add}" class="btn btn-success" methods="">Добавить</a>
</body>
</html>