<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
  <link rel="stylesheet" href="/assets/css/search.css">
</head><header>
  <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" >Аккаунт</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}">Аккаунт</a>
</header>
<body>
  <div class="column" style="padding-bottom: 30px; border-bottom: 2px solid #424242;"  th:each="staff : ${staffs}">
    <p class="info">Имя</p>
    <p th:text="${staff.firstName}"></p>
    <p class="info">Фамилия</p>
    <p th:text="${staff.lastName}"></p>
    <p class="info">Дата рождения</p>
    <p th:text="${staff.birth}"></p>
    <p class="info">Основная информация</p>
    <p th:text="${staff.mainInfo}"></p>
    <p class="info">Информация</p>
    <p th:text="${staff.allInfo}"></p>
    <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/staff/add?id='+${staff.id}|" >Изменить</button>
    <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/staff/del?id='+${staff.id}|" >Удалить</button>
  </div>

  <button style="color: white;" onclick="location.href='/staff/add';">Добавить</button>
</body>
</html>