<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все сеансы</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<!--    <div th:each="session : ${sessions}">
      <p th:text="${session.film.name}"></p>
      <p th:text="${session.hall.name}"></p>
      <p th:text="${session.hall.type}"></p>
    </div>
-->
<div class = "mypanel"></div>
    <script>
    var f=1;

var x=prompt ("Введите число","5");

x=+x;

var i=1;

do

{

f=f*i;

i++;

} while(i<=x)

alert(f);
    </script>

</body>
</html>