<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<header>
  <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" class="btn btn-success" methods="">Аккаунт</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" class="btn btn-success" methods="">Аккаунт</a>
</header>
<body>
<table>
<thead>
<th>ID</th>
<th>UserName</th>
<th>Password</th>
<th>Roles</th>
</thead>
<div th:each="user : ${allUsers}">
  <tr>
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td>
      <div  th:each="role :${user.roles}" th:text="${role.name}"></div>
    </td>
    <td>
      <a th:href="@{'/admin/del?userId='+${user.id}}" class="btn btn-success" methods="">Удалить пользователя</a>
    </td>
  </tr>
</div>
</table>

<a href="/film/all">Главная</a>
</body>
</html>