<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
  <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
  <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" class="btn btn-success" methods="">Аккаунт</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" class="btn btn-success" methods="">Аккаунт</a>
</header>
<body>
<table>
<thead>
<th>ID</th>
<th>UserName</th>
<th>Password</th>
<th>Roles</th>
</thead>
<div th:each="user : ${allUsers}">
  <tr>
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td>
      <div  th:each="role :${user.roles}" th:text="${role.name}"></div>
    </td>
    <td>

      <button sec:authorize="hasRole('ADMIN')" th:onclick="|window.location.href='/admin/del?userId='+${user.id}|" >Удалить пользователя</button>
    </td>
  </tr>
  <br>
</div>
</table>

<button onclick="location.href='/search';" >Главная</button>
</body>
</html>