<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
    <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
    <a sec:authorize="isAuthenticated()" onclick="location.href='/account?userId='+${#authentication.principal.id}';" >Аккаунт</a>
    <a sec:authorize="!isAuthenticated()" onclick="location.href='/login';" >Аккаунт</a>
</header>
<body>

<p class="info">Имя пользователя</p>
<p th:text="${client.name}"></p>
<p class="info">На счету:</p>
<p th:text="${client.money}"></p>
<form method="post">
    <input hidden="hidden" type="number" name="id" th:object="${id}"  th:value="${client.id}">
    <p>Добавляя себе денег вы подтверждаете что обязательно отправите их владельцу сайта</p>
     <input type="number" name="money" th:object="${money}" >
    <button>Добавить денег</button>
</form>
<button onclick="location.href='/logout';" sec:authorize="isAuthenticated()"  >Выйти из аккаунта</button>
</body>
</html>