<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Поиск фильмов</title>

    <link rel="stylesheet" href="/assets/css/search.css">
</head>
<header>
  <a sec:authorize="isAuthenticated()" th:href="@{'/account?userId='+${#authentication.principal.id}}" >Аккаунт</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}">Аккаунт</a>
</header>
  <body>
    <form method="post">
      <input type="text" th:name="filmName" th:object="${filmName}">
      <div class="searchField">
        <div class="column">
          <div style="padding-bottom: 30px; border-bottom: 2px solid #424242;" th:each="film: ${films}">
            <p class="info">Название фильма</p>
            <h3>
              <a  th:href="@{'/film/get?id='+${film.id}}" th:text="${film.name}"></a>
            </h3>
            <p class="info">Год выпуска фильма</p>
            <p th:text="${film.year}"></p>
            <p class="info">Информация о фильме</p>
            <p th:text="${film.info}"></p>
            <p class="info">Длительность фильма</p>
            <p th:text="${film.duration}"></p>
            <p class="info">Жанр фильма</p>
            <p th:text="${film.genre.name}"></p>
        </div>
        </div>
        <div class="column">
          <div style="margin-bottom: 30px;">
          <p class="info">Залы:</p>
          <div th:each="cinema : ${cinemas}">
            <p th:text="${cinema.name}"></p>
            <div th:each="hall : ${cinema.getHalls()}">
              <input type="checkbox"  th:name="halls" th:object="${halls}"  th:text="${hall.name} + ' ' + ${hall.hallType.name}" th:value="${hall.id}">
              <br>
            </div>
            <br>


          </div>
          <p>Диапазон цен за билет</p>
          <input type="number" placeholder="от" th:name="minPrice" th:object="${minPrice}">
          <input type="number" placeholder="до" th:name="maxPrice" th:object="${maxPrice}">
          <br>
          <input type="date" th:name="dateOfSession" th:object="${dateOfSession}">
          <br>
          <button>Поиск</button>
          </div>
        </div>
      </div>


    </form>
  </body>
</html>